.header{
    background-color: rgba(0, 0, 0, 0.750);
    backdrop-filter: blur(5px);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0px;
    /* FLEX */
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header p{
    font-size: 2rem;
}

.header a{
    font-size: 1.3rem;
    margin-left: 0.8rem;
}