.main{
    border: 1px solid red;
    padding: 4.5rem 1rem;
    /* FLEX */
        display: flex;
        justify-content: space-between;
}

.main div{
    margin: 2rem 0 0 10%;
}

.main h1 {
    font-size: 5rem;
    margin: 1rem 0
}

.main p {
    font-size: 2rem;
}

.main img{
    margin-right: 15%;
}

.image{
    border-radius: 10px;
}