*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-ld: #6d6d6d;
  --clr-accent: #16e0bd;

  --fs-h1: 2.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.3rem;
  --fs-body: 1.2rem;

  --fs-mw: 85vw;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 400px) {
  :root {
    --fs-h1: 3rem;
  }
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    --fs-mw: 85vw;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-mw: 75vw;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* @media (prefers-color-shceme: dark) {
  :root {
    --clr-light: #000000;
    --clr-dark: #7c7c7c;
    --clr-ld: #2c2c2c;
    --clr-accent: #16e0bd;
  }
} */
